In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
data = randn(5,4)

array([[-0.21779581, -0.62173811, -0.47398685, -0.03911647],
       [ 1.47364791,  0.03453652, -0.42805674,  0.2750969 ],
       [ 0.26394923, -1.13316705, -0.89553544, -0.54020676],
       [-0.91419137,  0.73568297, -1.34091743,  2.41689786],
       [ 0.06000635,  0.34448131,  0.74001764,  1.05291387]])

In [6]:
rows = ['A','B','C','D','E']

In [7]:
columns = ['Jake','Charlie', 'Lexi', 'Mary']

In [14]:
df = pd.DataFrame(data, rows, columns)
df

       Jake   Charlie      Lexi      Mary
A -0.217796 -0.621738 -0.473987 -0.039116
B  1.473648  0.034537 -0.428057  0.275097
C  0.263949 -1.133167 -0.895535 -0.540207
D -0.914191  0.735683 -1.340917  2.416898
E  0.060006  0.344481  0.740018  1.052914

In [22]:
datarow = df.iloc[0]
datarow

Jake      -0.217796
Charlie   -0.621738
Lexi      -0.473987
Mary      -0.039116
Name: A, dtype: float64